[[extend 'layout.html']]

<style>
    [v-cloak] {
         display: none;
    }
</style>

<div class="section" id="vue-target" v-cloak>
    <div class="columns">
        <div class="column">
            <!-- Blank -->
        </div>

        <!-- Add page-->
        <div class="column is-three-quarters">
            <!-- Add task-->
            <div class="field" v-if="mode == 'add'">
                <h2 class="title">Add task</h2>

                <!-- Task name -->
                <div class="field">
                    <p class="subtitle is-4">Task name:</p>
                    <input class="input" type="text" placeholder="type task name" v-model = "task_name">
                </div>

                <!-- Description -->
                <div class="field">
                    <p class="subtitle is-4">Description:</p>
                    <textarea class="textarea" placeholder="what are you going to do?" v-model="task_description" rows="10"></textarea>
                </div>
                <div class="field">
                    <p class="subtitle is-4">Deadline:</p>
                    <input class="input" type="datetime-local" placeholder="placeholderDateTime" v-model="task_deadline">
                </div>

                <!-- Deadline -->
                <div class="field">
                    <p class="subtitle is-4">Assign</p>
                    <p class="control">
                        <span class="field" v-for="(user, idx) in users">
                            <!-- Display different button styles based on user selection -->
                            <button class="button is-info" v-if="user.selected" v-on:click="assign_user(idx)">
                                {{user.user.first_name}}
                            </button>
                            <button class="button" v-else v-on:click="assign_user(idx)">
                                {{user.user.first_name}}
                            </button>
                        </span>
                    </p>
                </div>

                <!-- Assign -->
                <div class="field">
                    <p class="subtitle is-4">Tag:</p>
                    <div class="select">
                        <select v-model="form_sub_tag">
                            <!-- Disable initial option and provide placeholder text -->
                            <option disabled :value="null"><i>Select a tag</i></option>
                            <!-- Generate dynamic options based on available tags -->
                            <option v-for="tag in all_tags" :value="tag.id">{{tag.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <p class="subtitle is-6 has-text-danger">{{warning}}</p>
                </div>
                <div class="field">
                    <a @click="switch_mode(1)">
                        <button class="button">Cancel</button>
                    </a>
                    <a @click="update()">
                        <button class="button">Add</button>
                    </a>
                </div>
            </div>

            <!-- Add tag -->
            <div class="field" v-if="mode == 'addtag'">
                <h2 class="title">Add tag</h2>
                <div class="field">
                    <p class="subtitle is-4">Tag name:</p>
                    <input class="input" type="text" placeholder="type tag name" v-model = "tag_name">
                </div>

                <div class="field">
                    <p class="subtitle is-4">Color:</p>
                    <select v-model="form_tag_color">
                        <!-- Disable initial option and provide placeholder text -->
                        <option disabled :value="'White'"><i>Select a color</i></option>
                        <!-- Generate dynamic options based on available tag colors -->
                        <option v-for="color in tag_colors"><i>{{color}}</i></option>
                    </select>
                </div>
 
                <div class="field">
                    <a @click="switch_mode(1)">
                        <button class="button">Cancel</button>
                    </a>
                    <a @click="update()">
                        <button class="button">Add</button>
                    </a>
                </div>
            </div>

            <!-- Edit task -->
            <div class="field" v-if="mode == 'edit'">
                <h2 class="title">Edit task</h2>
                <div class="field">
                    <p class="subtitle is-4">Task name:</p>
                    <input class="input" type="text" v-model = "task_name">
                </div>
                <div class="field">
                    <p class="subtitle is-4">Description:</p>
                    <textarea class="textarea" v-model="task_description" rows="10"></textarea>
                </div>
                <div class="field">
                    <p class="subtitle is-4">Deadline:</p>
                    <input class="input" type="datetime-local" v-model="task_deadline">
                </div>
                <div class="field">
                    <p class="subtitle is-4">Assign</p>
                    <p class="control">
                        <span class="field" v-for="(user, idx) in users">
                            <!-- Display different button styles based on user selection -->
                            <button class="button is-info" v-if="user.selected" v-on:click="assign_user(idx)">
                                {{user.user.first_name}}
                            </button>
                            <button class="button" v-else v-on:click="assign_user(idx)">
                                {{user.user.first_name}}
                            </button>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="subtitle is-4">Tag:</p>
                    <div class="select">
                        <select v-model="form_sub_tag">
                            <!-- Disable initial option and provide placeholder text -->
                            <option disabled :value="null"><i>Select a tag</i></option>
                            <!-- Generate dynamic options based on available tags -->
                            <option v-for="tag in all_tags" :value="tag.id">{{tag.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <a @click="switch_mode(1)">
                        <button class="button">Cancel</button>
                    </a>
                    <a @click="update()">
                        <button class="button">Edit</button>
                    </a>
                </div>
            </div>
            
            <!-- Show_detail -->
            <div class="field" v-if="mode=='detail'">
                <h1 class="title is-1">{{task_name}}</h1>
                <p class="subtitle is-6"> <b>Tag:</b> {{tag_name_from_id(form_sub_tag)}}</p>
                <textarea class="textarea" readonly>{{ task_description }}</textarea>
                <p class="subtitle is-6"> <b>Asigned to: </b> {{display_asign}}</p>
                <p class="title is-5">Deadline: {{task_deadline}}</p>
                <a @click="switch_mode(1)">
                    <button class="button">
                        Back
                    </button>
                </a>
            </div>

            <!-- Main page -->
            <div v-if="mode== 'table'">
                <!--uncompleted_task_table-->
                <div class="field">
                    <h2 class="is-size-2">Current Tasks</h2>
                    <br>
                    <!-- Button to switch to the add mode and get users -->
                    <a class="button is-success" @click="switch_mode(2), get_users()">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>Add</span>
                    </a>
                    <!-- Button to switch to create a new tag mode -->
                    <a class="button is-primary" @click="switch_mode(4)">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>Create new tag</span>
                    </a>
                    <br>
                    <div class="select">
                        <!-- Dropdown to select a tag for filtering -->
                        <select v-model="selected_tag">
                            <option disabled :value="null"><i>Select a filter</i></option>
                            <option :value="null"><i>No filter</i></option>
                            <option v-for="tag in all_tags" :value="tag.id">{{tag.name}}</option>
                        </select>
                    </div>

                    <br>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Description</th>
                                <th>Time Remaining</th>
                                <th>Assigned</th>
                                <th>Tag</th>
                                <th>Edit</th>
                                <th>Mark Complete</th>
                            </tr>
                        </thead>
                        <tbody v-for="untask in uncompleted_tasks">
                            <!-- Filter tasks based on the selected tag -->
                            <tr v-if="selected_tag == null || selected_tag == untask.tag">
                                <td>{{untask.name}}</td>
                                <td>
                                    {{untask.description.slice(0,20)}}
                                    <a v-if="untask.description.length > 20" @click="show_detail(untask)">... (detail)</a>
                                </td>
                                <td class="has-text-danger" v-if="untask.overdue">
                                    {{untask.timeleft}}
                                </td>
                                <td class="has-text-success" v-else>
                                    {{untask.timeleft}}
                                </td>
                                <td>
                                    {{untask.assigned.join(", ")}}
                                </td>
                                <td>
                                    <!-- Display the tag of the task or "No Tags" if no tag is assigned -->
                                    <span class="tag" :class="tag_color_from_id(untask.tag)" v-if="tag_name_from_id(untask.tag)">{{tag_name_from_id(untask.tag)}}</span>
                                    <span v-else>No Tags</span>
                                </td>
                                <td>
                                    <!-- Button to enter edit mode for the task -->
                                    <a class="button is-warning" v-on:click="edit_mode(untask)"><span class="icon"><i class="fa fa-edit"></i></span></a>
                                </td>
                                <td>
                                    <!-- Button to mark the task as complete -->
                                    <a class="button is-success" @click="completed(untask.id)"><span class="icon"><i class="fa fa-check"></i></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Completed_task_table -->
                <div class="field" v-if="completed_tasks.length != 0">
                    <h2 class="is-size-2">Completed Tasks</h2>
                    <br>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Description</th>
                                <th>Assigned</th>
                                <th>Tag</th>
                                <th>Edit</th>
                                <th>Restore</th>
                            </tr>
                        </thead>
                        <tbody v-for="task in completed_tasks">
                            <!-- Filter tasks based on the selected tag -->
                            <tr v-if="selected_tag == null || selected_tag == task.tag">
                                <td>{{task.name}}</td>
                                <td>
                                    {{task.description.slice(0,20)}}
                                    <a v-if="task.description.length > 20" @click="show_detail(task)">... (detail)</a>
                                </td>
                                <td>
                                    {{task.assigned.join(", ")}}
                                </td>
                                <td>
                                    <!-- Display the tag of the task or "No Tags" if no tag is assigned -->
                                    <span class="tag" :class="tag_color_from_id(task.tag)" v-if="tag_name_from_id(task.tag)">{{tag_name_from_id(task.tag)}}</span>
                                    <span v-else>No Tags</span>
                                </td>
                                <td>
                                    <!-- Button to enter edit mode for the task -->
                                    <a class="button is-warning" v-on:click="edit_mode(task)"><span class="icon"><i class="fa fa-edit"></i></span></a>
                                </td>
                                <td>
                                    <!-- Button to restore the task to uncompleted status -->
                                    <a class="button is-primary" @click="completed(task.id)"><span class="icon"><i class="fa fa-plus"></i></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="column">
            <!-- Blank -->
        </div>
    </div>    
</div>
[[block page_scripts]]
<script>
    let get_tasks_url = "[[=XML(get_tasks_url)]]";
    let get_users_url = "[[=XML(get_users_url)]]";
    let complete_task_url = "[[=XML(complete_task_url)]]";
    let edit_url = "[[=XML(edit_url)]]";
    let add_url = "[[=XML(add_url)]]";
    let addtag_url = "[[=XML(addtag_url)]]";
    let get_tags_url = "[[=XML(get_tags_url)]]";


</script>
<script src="js/index.js"></script>
[[end]]
